@{
    ViewBag.Title = "ViewLeague";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model RocketLeagueWars.Models.League

<h2>@Model.LeagueName</h2>

<div>
    <ul style="list-style-type: none">
        <li id="lileftoright"><a href="@Url.Action("Teams", 
                     new 
                         { 
                           controller = "League", 
                           id = Model.LeagueID
                         })">TEAMS</a></li>
        <li id="lileftoright"><a href="@Url.Action("Standings", 
                     new 
                         { 
                           controller = "League", 
                           id = Model.LeagueID
                         })">STANDINGS</a></li>
        <li id="lileftoright"><a href="@Url.Action("Schedule", 
                     new 
                         { 
                           controller = "League", 
                           id = Model.LeagueID
                         })">SCHEDULE</a></li>
    </ul>
</div>