@{
    ViewBag.Title = "Standings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<RocketLeagueWars.Models.TeamSeasonStats>

<h2>Standings</h2>
<table style="margin-left: auto; margin-right: auto; margin-top: 5%;">
    <tr>
        <th>
            Team
        </th>
        <th>
            Wins
        </th>
        <th>
            Losses
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.TeamName
            </td>
            <td style="text-align: right">
                @item.Wins
            </td>
            <td style="text-align: right">
                @item.Losses
            </td>
        </tr>
    }
</table>
