html
{
    width: 100%;
    background-color: #ecf0f1;
}

body
{
    width: 100%;
    margin: 0;
    padding: 0;
}

.main
{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.head
{
    min-height: 80px;
    
    border-bottom: ridge;
    border-bottom-color: black;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;

    background-color: #34495e;
    color:white;

    padding-left: 1%;
    padding-right: 1%;
}
     .head a
     {
         text-decoration: none;
         color: white;
     }

.logo
{
    float:left;
    width: 20%;
    padding-top: 2%;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu 
{
    padding-top:3%;
}
    .menu a
    {
        margin-left: 2%;
        font-weight: bold;
    }

.float-right
{
    float: right;
}

.login 
{
    font-family: Arial;
    font-size: small;
}
    .login ul
    {
        list-style-type: none;
    }
    .login li
    {
        display: inline;
    }

#lileftoright
{
    display: inline;
    margin-left: 2%;
}

.homeslider
{
    margin-top:15%;
    margin-left: auto;
    margin-right: auto;
}

#myteambtn
{
    margin-left: 20%;
}
#submitgamebtn
{

}

.legend
{
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; 
    color: coral;
    font-size: x-large;
}

.submit
{
    font-family: Arial, Helvetica, sans-serif;
}

.btnSubmit
{
    margin-top: 2%;
    height: 40px;
    width: 45%;
    background-color:#e74c3c; 
    border: none;
    color: white;
}

.table
{
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%; 
}

.lgmenu
{
    border: ridge;
    font-family: 'Roboto Condensed', sans-serif;
    color:black;
}
    .lgmenu a
    {
        text-decoration: none;
    }
    .lgmenu a:hover
    {
        color: green;
    }

.fieldset
{
    margin-left: auto; 
    margin-right: auto; 
    width: 60%; 
    margin-top: 5%;
}

.rulesrow
{
    border-top-style: solid;
}

.rulesrowheader
{
    width: 20%; 
    margin-left: auto; 
    margin-right: auto
}