@{
    ViewBag.Title = "Home";
}
@model RocketLeagueWars.Models.UserProfile

<div style="margin-top: 5%; margin-left: auto; margin-right: auto; min-height: 165px; border-style: ridge; background-color: beige;">
    <h3 style="margin-left: 2%; font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif">Rocket League Wars</h3>
    The only league that you will ever need.
</div>