@{
    ViewBag.Title = "Home";
}
@model RocketLeagueWars.Models.UserProfile

<div style="margin-top: 5%; margin-left: auto; margin-right: auto; min-height: 165px; border-style: ridge; background-color: beige;">
    Please excuse my appearance and appreciate me for my back-end.
</div>