@{
    ViewBag.Title = "Home";
}
@model RocketLeagueWars.Models.UserProfile

<div style="background-color: #2ecc71; min-height: 400px">
    <div style="margin-left: auto; margin-right: auto; padding-top: 5%; font-family: 'Raleway', sans-serif; width: 60%; font-size: 210%; text-align: center; color: white">
        The BEST way to play your new favorite game.
        <input type="button" style="height: 50px; width: 25%; background-color: #3498db; 
            border-style: none; margin-top: 10%; font-family: 'Raleway', sans-serif; color: white; font-size: large" onclick="whyBtnClick()" value="WHY?" />
    </div>
</div>
<div id="whyDiv">
    
</div>


<script>
    function whyBtnClick() {
        window.location.href = "#whyDiv";
    }
</script>