@{
    ViewBag.Title = "Rules";
}

<div style="font-family: 'Roboto Condensed', sans-serif; width:65%; margin-left: auto; margin-right: auto">
    <div>
        <h1 style="font-size: xx-large">Info & Rules</h1>
    </div>
    <div class="rulesrow">
        <div class="rulesrowheader">
            <h3>Getting Started</h3>
        </div>
        <p>
            <h3>What is Rocket League Wars?</h3>
            Rocket League Wars (RLW) is a unique way to play Rocket League. It gives you a chance to play the game in a competitive format,
            but also play as much or as little as you like. Any game that you play against another member of the league will count 
            towards your team's score.
        </p>
        <p>
            <h3>How do I start?</h3>
            Getting started is simple. Register for the site @Html.ActionLink("here", "Register", "Account"). Once you are registered, you 
            will be assigned to a team within 24 hours. Keep an eye on your email.
        </p>
    </div>
    <div class="rulesrow">
        <div class="rulesrowheader">
            <h3>League Rules</h3>
        </div>
        <p>
            <h3>How does the league actually work?</h3>
            Good question. When you join RLW, you will be put on a team with three other players. When you play a game against a player or 
            players from another team, you are playing for a chance to earn point(s) for your team. If you win, you submit the game and
            the point(s) will be assigned to your team.

            <b>** All games are best of 5 **</b>
        </p>
        <p>
            <h3>How do the points work?</h3>
            Points differ based on what type of game you play. The breakdown is as follows for random games:
            <ul>
                <li>
                    1 vs. 1 - 1 point
                </li>
                <li>
                    2 vs. 2 - 2 points
                </li>
                <li>
                    3 vs. 3 - 3 points
                </li>
                <li>
                    4 vs. 4 - 4 points
                </li>
            </ul>
            For scheduled games:
            <ul>
                <li>
                    1 vs. 1 - 10 points
                </li>
                <li>
                    2 vs. 2 - 20 points
                </li>
                <li>
                    3 vs. 3 - 30 points
                </li>
                <li>
                    4 vs. 4 - 40 points
                </li>
            </ul>
        </p>
        <p>
            <h3>What are Scheduled Games?</h3>
            Each week, a team will have four scheduled games in addition to being able to play random games during the week. A team will
            be assigned an opposing team each Sunday. A 1v1, 2v2, 3v3 and 4v4 will be scheduled. The team captain is responsible for 
            assembling the roster as they seem fit. 
        </p>
        <p>
            Every player on a roster must play in at least one scheduled game unless they are out of town and not able to that week. 
        </p>
    </div>
</div>
